<!DOCTYPE html>
<html ng-app="ApiBank">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% javascripts
    '@jquery' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block stylesheets %}
        {% stylesheets 'bundles/app/js/jquery-ui/jquery-ui.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
    {% javascripts
    '@angular' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
    '@app' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div ng-view>
</div>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>